<head>
  <!-- Make a basic head for an HTML file-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Add a title to the page -->
  <title>Best Kind Electronics</title>
  <!-- Add a link to the CSS file -->
  <link rel="stylesheet" href="styles/style.css">
</head>