<html>
  <%- include('partials/header.ejs') %>
  <body>
    
    <div class="app">
      <%- include('partials/status') %>
      <h2>Welcome to Best Kind Electronics!</h2>
      <p>
        Best Kind Electronics is a locally owned and operated electronics store in 
        the heart of downtown St. John's. We offer a wide selection of electronics, 
        including laptops, desktops, tablets, and smartphones. Our friendly and 
        knowledgeable staff are here to help you find the perfect device for your 
        needs. Come visit us today or check out our online store to see our latest products.
      </p>
    </div>
</html>